@import "tailwindcss";
#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body{
  overflow-x: hidden;
  background: black;
}
input{
  border-radius: 7px;
}
input:focus{
  outline: none;
  border: none;
  background: lightgrey;
}
button{
  border-radius: 20px;
  color: white;
}

/* login */
.login::after{
  background: rgb(0, 0, 0,0.7);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.hero::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.9) 30%, rgba(255, 255, 255, 0.1) 70%);
  z-index: 0;
}